---
---

@import "{{ site.theme }}";

@import "fonts";

$layout-v-pad: 15vh;

/**
 * note: only use absolute units for $size (e.g. no 'em'),
 * as it's used both for font-size and box sizes
 */
@mixin round-button($size, $font-size: $size * .3) {
  box-sizing: content-box;
  display: block;
  width: $size;
  height: $size;
  padding: 0;
  border: 0 none;
  border-radius: $size * .5;
  font-size: $font-size;
  line-height: #{$size};
  text-align: center;
  cursor: pointer;
}


:root {
  font-size: 20px;
}

body,
h1, h2, h3, h4, h5, h6 {
  line-height: 1.75;
}

body {
  // todo - adapt narrow layouts (below the breakpoints 960, 720) to hidden-overflow
  overflow: hidden;
  margin: 0;
  padding-block: $layout-v-pad;
  font-size: 1rem;
  background-color: hotpink;
  color: lightyellow;

  &:before,
  &:after {
    position: fixed;
    z-index: -1;
    opacity: .3;
    pointer-events: none;
  }

  &:before {
    content: '✨';
    top: -6rem;
    right: -4rem;
    font-size: 15rem;
  }

  &:after {
    content: '🪄';
    bottom: -15rem;
    left: -11rem;
    font-size: 30rem;
  }
}

a {
  &,
  &:focus {
    color: lavender;
  }

  &:hover, &:active {
    color: lightyellow;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bestie Seventy', sans-serif;
  margin-bottom: 1em;
  font-weight: 400;
  color: lightyellow;
}

header {
  text-align: center;

  // site title
  h1 {
    font-size: 4.5rem;
    text-transform: initial;
    text-shadow: .111em .111em .167em mediumpurple;

    &,
    & a:hover,
    & a:focus {
      font-weight: 400;
    }
  }
}



// components

#grab-btn {
  $button-size: 9rem;
  @include round-button($button-size, 1rem);
  margin-top: calc(100vh - #{$button-size} - (#{$layout-v-pad} * 2));
  float: right;
  font-family: 'Bestie Seventy', sans-serif;
  color: mediumpurple;
  background-color: lavender;
  box-shadow: ($button-size * .036) ($button-size * .036) ($button-size * .111) mediumpurple;

  &:hover, &:active {
    color: hotpink;
  }

  &:active {
    background-color: lightyellow;
    box-shadow: ($button-size * .024) ($button-size * .024) ($button-size * .075) mediumpurple;
    transform: scale(.9875);
  }
}

#ipsum-text {
  position: fixed;
  top: 0;
  left: -5vw;
  z-index: -1;
  display: block;
  height: 100vh;
  width: 120vw;
  user-select: none;
  opacity: .3;
}


// responsive layout

header h1 {
  transition: font-size .5s;
}

#grab-btn {
  transition: margin .5s;
}

@media print, screen and (max-width: 960px) {
  header h1 {
    font-size: 3.75rem;
  }

  #grab-btn {
    margin: 0 auto;
    float: none;
  }
}

@media print, screen and (max-width: 720px) {
  header h1 {
    font-size: 3rem;
  }
}



// override theme rules

@media print, screen and (max-width: 960px) {
  header {
    padding-right: 0;
  }

  section {
    border: 0 none;
  }
}

