---
---

@import "{{ site.theme }}";

@import "fonts";


// taken from theme stylesheet, declared as var' for reuse
$font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


html {
  font-size: 20px;
}

body {
  margin: 0;
  font-size: 1rem;
  background-color: hotpink;
}

a, a:hover, a:focus, a:active {
  color: mediumpurple;
  color: lavender;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  font-weight: 400;
  color: lightyellow;
}

h1, h2 {
  //color: #444;
}

h3, h4 {
  margin-bottom: .4em;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  margin-top: 2em;
  font-weight: 100;
}

h4 {
  font-style: italic;
  font-variant: all-small-caps;
  //color: #aaa;
}

header {
  text-align: end;

  // site title
  h1 {
    font-family: 'Bestie Seventy', sans-serif;
    letter-spacing: .045em;
    font-size: 3.75rem;
    line-height: 1.75;
    margin-block-end: 0;
    text-shadow: .111em .111em .167em mediumpurple;

    &,
    & a:hover,
    & a:focus {
      font-weight: 400;
    }
  }

  // site description
  > p {
    font-variant: all-small-caps;
  }
}

footer {
  top: 280px;

  div {
    height: 100%;

    > :only-child {
      min-height: 2.5em;
      max-height: calc(100% - 50px);
      overflow-y: auto;
    }
  }
}



// override theme rules

@media print, screen and (max-width: 960px) {
  header {
    padding-right: 0;
  }

  section {
    padding: 35px 0 0;
    margin-block-start: 35px;
  }
}


// utilities

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none;
  opacity: .5;
}

